.eventHeader {
	height: 400px;
	overflow: hidden;
    background-size: cover;
}

@media (max-width: 979px) and (min-width: 767px) {
    .eventHeader {
	    height: 300px;
    }
}

@media (max-width: 767px) {
    .eventHeader {
	    height: 250px;
    }
}

@media (max-width: 540px) {   
    .eventHeader {
	    height: 180px;
    }
}

.map-container {
    max-width: 100%;
    height: 400px;
}

.text {
    background-color: white;
    font-size: 17px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 0px;
    word-break: keep-all;
	white-space: pre-wrap;                 /* CSS3 browsers  */
	white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
	white-space: -pre-wrap;                /* Opera 4 thru 6 */
	white-space: -o-pre-wrap;              /* Opera 7 and up */
	word-wrap: break-word;                 /* IE 5.5+ and up */
}

.content {
    // position: relative;
    padding-bottom: 250px;
}