#video-background {
    height: auto;
    width: 100%;
    z-index: -100;
    background: url(./img/crowdjump.png) no-repeat;
    background-size: cover;
}

.videoContainer {
    height: 450px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.overlayText {
    background: rgba(0,0,0,0);
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    flex-direction: column;
}

.title {
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 600;
}

.subtitle {
    text-align: center;
    color: white;
    font-size: 30px;
}

.body {
  padding-top: 50px;
  background-color: #e9eaed;
  font-family: Segoe UI, Helvetica;
}

.image {
	width: 700px;
	height: 400px;	
}

.coverImage {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    margin: -4px;
    height: 206px; 
}

.event__item {
    height: 230px;
    overflow: hidden;
    position: relative;
    margin: 10px;
    margin-bottom: 0px;
    border-color: gray;
    border-style: solid;
    border-width: 1px;  
}

.event__name {
    height: 80px;
    overflow: hidden;
}

.event__time {
    color: #fff;
    font-weight: 700;
    position: absolute;
    top: 0;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    font-size: 1.5rem;
    background-color: rgba(0,0,0,.6);
    margin: 1px -4px;
}

.modal {
    background: transparent;
    margin-left: 0;
    width: 100%;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

.main {
    position: relative;
    padding-bottom: 250px;
}

.nav {
    border-bottom: none;
    margin-top: 10px;
}

@media (max-width: 767px) {
    .videoContainer {
        display: none;
    }

    .main {
        top: 20px;
    }
}