<template name="event">
  {{#if Template.subscriptionsReady}}
          {{#with event}}
  <div class="container content">
    <header class="eventHeader" style="background-image:url({{cover.source}})">
    </header>    
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>{{name}}
              <br/>
              <small>{{dateCalendar(start_time)}}</small> 
            </h3>            
          </div>
          <div class="panel-heading">
            {{#if ticket_uri}}
            <div class="btn-group" role="group" aria-label="Facebook actions">
                <a class="btn btn-primary" href={{ticket_uri}} target="_blank">Buy tickets</a>
            </div>                     
            {{/if}}
            {{#if currentUser}}
                {{#if isAttending}}
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-check"></i> Going <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" id="eventJoin">
                                    <i class="fa fa-plus"></i> Going
                                </a>
                            </li>
                            <li>
                                <a href="#" id="eventInterested">
                                    <i class="fa fa-star"></i> Interested
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" id="eventNotGoing">Not Going</a></li>
                        </ul>
                    </div>
                {{else}}
                    {{#if isInterested}}
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-check"></i> Interested <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" id="eventJoin">
                                        <i class="fa fa-plus"></i> Going
                                    </a>
                                </li>
                                <li>
                                    <a href="#" id="eventInterested">
                                        <i class="fa fa-star"></i> Interested
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#" id="eventNotGoing">Not Going</a></li>
                            </ul>
                        </div>
                    {{else}}
                        <div class="btn-group" role="group" aria-label="Facebook actions">
                            <a class="btn btn-default" role="group" id="eventJoin">
                                <i class="fa fa-plus"></i> Going
                            </a>
                            <a class="btn btn-default" role="group" id="eventInterested">
                                <i class="fa fa-star"></i> Interested
                            </a>
                        </div>                    
                    {{/if}}  
                {{/if}}                         
            {{else}}
                <div class="btn-group" role="group" aria-label="Facebook actions">
                    <a class="btn btn-default" role="group" id="eventJoin">
                        <i class="fa fa-plus"></i> Going
                    </a>
                    <a class="btn btn-default" role="group" id="eventInterested">
                        <i class="fa fa-star"></i> Interested
                    </a>
                </div>
            {{/if}}
          </div>
          <div class="panel-body">
            <pre class="text">{{description}}</pre>
            <a class="btn btn-default btn-lg" href="https://www.facebook.com/events/{{id}}" target="_blank">See more on Facebook</a>
          </div>          
        </div>
      </div>        
      <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-map-marker"></i> {{place.name}}</h4>
                <h5>{{place.location.street}}, {{place.location.zip}} {{place.location.city}}, {{place.location.country}}</h5>
            </div>
            <div class="panel-body map-container">
                {{> googleMap name="locationMap" options=mapOptions}}
            </div>
        </div>
      </div>
    </div>
  </div>
  {{/with}}
  {{else}}
      <p>Loading...</p>
  {{/if}}
</template>