<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <link rel='icon' href='./favicon.ico'>
</head>

<body class="body">
    {{> applicationLayout}}
    {{> eventModal}}
    {{> loginModal}}
</body>

<template name="applicationLayout">
    <div class="wrapper">
        {{> Template.dynamic template=header}}
        {{> Template.dynamic template=main}}
        {{> Template.dynamic template=footer}}
    </div>
</template>

<template name="application">
    {{> videoHeader}}
    <div class="container content main">
      {{> eventList}} 
    </div>   
</template>

<template name="myevents">
    {{> videoHeader}}
    <div class="container content main">
      {{> eventList}} 
    </div>   
</template>

<template name="videoHeader">
    <div class="videoContainer">
        <video id="video-background" autoplay loop preload="none">
            <source 
            src="https://eventenixstorage.blob.core.windows.net/asset-a81bfa29-570d-443e-b061-6caccab14138/CrowdJumpingMedium.mp4?sv=2012-02-12&sr=c&si=1243262f-6d71-4fa7-9522-835ab8f0774d&sig=xRdmforxRjE%2FQaAJ5vTGHErMW%2Bc3%2FOyO4zLwBAnHwr0%3D&st=2016-05-15T12%3A37%3A21Z&se=2116-04-21T12%3A37%3A21Z" type="video/mp4" poster="./img/crowdjump.png">
            <img src="./img/crowdjump.png" title="Your browser does not support the <video> tag">
        </video>
        <div class="overlayText">
            <h1 class="title">JOIN MUSIC ADVENTURE</h1>
            <div class="subtitle">The best music events in Oslo</div>
        </div>        
    </div>
</template>

<template name="eventList">
    <ul class="nav nav-tabs">
        <li class={{allevents}} id='allevents'><a href="/">All events</a></li>
        <li class={{myevents}} id='myevents'><a href="/myevents">My events</a></li>
    </ul>
    <div class="row">
        <div>
        {{#each events}}
            {{> eventItem}}
        {{/each}}
        </div>
    </div>
</template>

<template name="eventItem">
  <div class="col-md-4 portfolio-item">
    <a href="/events/{{id}}">
      <div class="thumbnail">
        <div class="event__time">
          {{dateCalendar(start_time)}}
        </div>
        <div class="coverImage" style="background-image:url({{cover.source}})">
        </div>   
        <div class="caption event__name">
          <h4>{{name}}</h4>        
        </div>      
      </div>
    </a>
  </div>
</template>


