<template name="footerTemplate">
    <footer>
    <div class="panel-footer">
        <div class="text-center">
            <h3>Join Us On</h3>
            <ul class="footer-list">
                <li>
                    <a href="https://www.facebook.com/eventenix" class="link-contrast footer-icon-container" itemprop="sameAs" target="_blank">
                        <i class="fa fa-facebook footer-icon"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/eventenix/" class="link-contrast footer-icon-container" itemprop="sameAs" target="_blank">
                        <i class="fa fa-instagram footer-icon"></i>
                    </a>
                </li>
            </ul>
            <hr class="footer-divider space-top-8 space-4 hide-sm">
            <div class="container footer-text">
                <a href="mailto:eventenix@outlook.com">Contact Us</a>
                <span>© 2017 EventEnix</span>  
            </div>                
        </div>      
    </div>
    </footer>
</template>