.right {
    float: right;
}

.panel-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px 0px;
    background-color: #2b2d2e;
    color: white;
}

.text-center {
    text-align: center;
}

.footer-icon-container {
    border-color: #aaa;
    border-color: rgba(255,255,255,0.2);
    display: block;
    height: 40px;
    width: 40px;
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
}

.footer-icon {
    font-size:24px;
    color:white;
    position: relative;
    top: 7px;
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-text {
    font-size: 20px;
    a {
        color: inherit !important;
    }
}

.footer-divider {
    border-color: rgba(255,255,255,0.2);
}

ul.footer-list li {
    padding: 0 5px;
    display: inline-block;
}