<template name="headerTemplate">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">                
                <a class="navbar-brand brand" href="/">EventEnix</a>
            </div>
            <ul class="nav navbar-nav navbar-right navbar-list">
                <li class="createEventNav">
                    <a href="#" id="create-event">
                        <span class="glyphicon glyphicon-bullhorn"></span> 
                        Create Event
                    </a>
                </li>
                {{#if currentUser}}
                    <li>
                        <a href="#" id="js-logout">
                            <span class="glyphicon glyphicon-log-out"></span> Sign Out
                        </a>
                    </li>            
                {{else}}
                    <li>
                        <a href="#" id="js-signin">
                            <span class="glyphicon glyphicon-log-in"></span> 
                            Login
                        </a>
                    </li>
                {{/if}}
            </ul>
        </div>
        <!-- /.container -->
    </nav>
</template>

<template name="eventModal">
    <div id="eventModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Is it a music event?</h4>
        </div>
        <div class="modal-body">
            <p>EventEnix is for finding music events which include concerts, festivals,
                local gigs and jams. We value your participation and help to build great
                music community.
            </p>
            <p>Step 1. Create your event in Facebook or use existing one.
            </p>
            <p>Step 2. Paste the link to the event below. It will look like: 
                https://www.facebook.com/events/245447022485737/
            </p>
            <form id="event-form">
                <div>    
                    <input type="text" class="form-control url-input" name="eventid" id="basic-url" placeholder="Facebook event url or id...">
                </div>
                <div class="create-event-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No, this is not music event</button>
                    <button type="submit" class="btn btn-primary" id="eventConfirm">Yes, this is music event</button>
                </div>
            </form> 
        </div>
        </div>
    </div>
    </div>
</template>
