@media (max-width: 979px) and (min-width: 767px) {
    .navbar .container {
        width: 724px !important;
    }
}

@media (max-width: 767px) {
    .navbar .container {
        .navbar-brand, {
            margin-left: 10px;
        }
        
        .navbar-right {
         float: right !important;
            margin-right: 30px;
        }
    }
}

@media (max-width: 540px) {   
    .createEventNav {
        display: none !important;
    }
}

.brand {
    font-weight: 450;
}

.navbar {
   background: rgba(0,0,0, 0.8);
}

.navbar-list {
    // override default margin-top 10
    margin-top: 0;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
    
    &:hover {
        color: #fff;
        background-color: #2d4373;
        border-color: rgba(0,0,0,0.2);
    }
}

.buttonText {
    border-left: 2px solid rgba(0,0,0,0.2);
    padding-left: 3px;
}

.create-event-footer {
    text-align: right;
    margin-top: 15px;
}

