<template name="loginModal">
    <div id="loginModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Please login in order to complete the action</h4>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary js-signin btn-facebook" id="loginConfirm">Sign in with Facebook</button>
        </div>
        </div>
    </div>
    </div>
</template>

